<p>
  Technical debt Analysis will be done using Sonar
</p>
<div class="col-xs-7 col-sm-7 col-md-7">
	<form class="cprojet-form">
		<mat-form-field class="project-full-width">
			<input matInput placeholder="Project Name" value="{{sonarRequestObj.analyzer.projectName}}" name="sonarName" [(ngModel)] = "sonarRequestObj.analyzer.projectName">
		</mat-form-field>
	</form>
	<button mat-raised-button class="mat-raised-button mat-primary nav-btn " id="disable_setup" (click) = "sonarfetchData()">SET UP</button><p></p>

</div>
<div class="well col-xs-7 col-sm-7 col-md-7"  *ngIf="setupdataForSonarshow">
	<div class="panel-body">
		<form role="form" [formGroup]="StepAnalyze_Code">
      <p class="col-xs-12 col-sm-12 col-md-12">Setup is done successfully</p>
      
      <div class="well col-xs-12 col-sm-12 col-md-12" style="background-color: #414141">
        <div class="panel-body">
            <button mat-raised-button class="mat-raised-button mat-default nav-btn pull-right" style="background-color: #414141; border: 1px solid white; color: white;" (click)= "copyTextCommand()">Copy</button>
            <div id="copyTextID">
              <p style="color: white">mvnCommandToExecute : {{sonarfetchDataDetails.analyzer.custom[0].mvnCommandToExecute}}</p>
            </div>
        </div>
      </div>
      
			<p class="col-xs-12 col-sm-12 col-md-12">Project Name : {{sonarfetchDataDetails.analyzer.custom[0].projectName}}</p>
			<p class="col-xs-12 col-sm-12 col-md-12">projectKey : {{sonarfetchDataDetails.analyzer.custom[0].projectKey}}</p>
			<p class="col-xs-12 col-sm-12 col-md-12">You can access the portal by clicking <a href="{{sonarfetchDataDetails.analyzer.location}}" target="_blank">here </a></p>
		</form>
	</div>
</div>
<div class="col-xs-6 col-sm-6 col-md-6">
		<button mat-button matStepperPrevious class="mat-raised-button mat-primary nav-btn">Back</button>

<button mat-raised-button matStepperNext class="mat-raised-button mat-primary nav-btn" id="ibm_ta"
	style="margin-left: 0.5rem;">Next</button>
</div>